
<h3>Lista de Productos</h3>
{{#each products}}
<div class="container">
  <div class="containerCard">
    <p class="itemsList">{{this.title}}</p>
    <p class="itemsList">Descripcion: {{this.description}}</p>
    <p class="itemsList">Precio: {{this.price}}</p>
    <p class="itemsList">Codigo: {{this.code}}</p>
    <p class="itemsList">Stock: {{this.stock}}</p>
    <p class="itemsList">Categoría: {{this.category}}</p>
  </div>
</div>
  
{{/each}}